/* GENERAL LAYOUT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg, 
    rgba(255,255,255,1) 0%, 
    rgba(167,233,227,1) 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* General container */
#app {
  max-width: 1170px;
  min-height: 80%;
  max-height: 95%;
}

/* Calendar title */
.calendar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 10px 0;
  color:  #f5a745;
}

.prev {
  margin-left: 20px;
}

.next {
  margin-right: 20px;
}

.prev,
.next {
  color: #f5a745;
}

.prev:hover,
.next:hover {
  color: tomato;
}

/* Calendar */
.calendar {
  width: 100%;
  flex-grow: 1;
}

/* Month name */
.month {
  color: #fff;
}

.month::first-letter {
  color: #f5a745;
}

/* Month days */
.month-days {
  flex-grow: 1;
  list-style: none;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

/* Day */
.month-days li {
  width: calc(100% / 7);
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid  #f5a745;
  background-color: #57c3b9;
}

/* Utilities */
.flex-column {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.font-s-40 {
  font-size: 40px;
}

.pointer {
  cursor: pointer;
}

.holiday {
  color: tomato;
}